<section>
  <form action="/new-folder/<%= locals.currentFolder %>" method="post">
    <label for="folder">Folder name:</label>
    <input type="text" name="folder" id="folder" />
    <button type="submit">Create folder</button>
  </form>
</section>
