<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <h1>Create a share link for this folder</h1>
    <%- include("../partials/errors.ejs") %>
    <form action="/share-link/<%= locals.currentFolder %>" method="post">
      <label for="duration"
        >Enter duration:
        <input type="number" name="duration" id="duration" /> hours</label
      >
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
